<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hillerød_Sejlklub</title>
    <script type="importmap"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
    <style>
        #windy {
            width: 100%;
            height: 400px;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hillerød_Sejlklub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylesheet.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Hillerød Sejlklub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @*Venstre side*@
                    <ul class="navbar-nav me-auto">
                        <li class="nav-link">
                            <a class="dropdown-item" asp-page="/Boats/AllBoatsUser">Flåde</a>
                        </li>
                        <li class="nav-link">
                            <a class="dropdown-item" asp-page="/Bookings/AllBookings">Bookinger</a>
                        @*Bruger dropdown*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark"
                               href="#"
                               id="userMenuDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Menu
                            </a>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Events/AllEvents">Events</a>
                        </li>

                            <ul class="dropdown-menu" aria-labelledby="userMenuDropdown">
                                <li><a class="dropdown-item" asp-page="/Boats/AllBoatsUser">Flåde</a></li>
                                <li><a class="dropdown-item" asp-page="/Bookings/AllBookings">Bookinger</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Blog/BlogPage">Blog</a>
                        </li>
                    </ul>

                    @*Højre side@*@
                    <ul class="navbar-nav ms-auto">
                        @*Admin Dropdown*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark"
                               href="#"
                               id="adminDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Admin Menu
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                <li><a class="dropdown-item" asp-page="/Users/AllUsersList">Medlemmer</a></li>
                                <li><a class="dropdown-item" asp-page="/Boats/AllBoats">Flåde</a></li>
                                <li><a class="dropdown-item" asp-page="/Bookings/ActiveBookings">Aktive Bookinger</a></li>
                                <li><a class="dropdown-item" asp-page="/Bookings/PreviousBookings">Afsluttede Bookinger</a></li>
                            </ul>
                        </li>
                        @*Login*@
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/LoginRegister/Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Hillerød_Sejlklub - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
