<!DOCTYPE html>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email-adresse</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Dine oplysninger vil aldrig blive delt med andre.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Log ind</button>
</form>
