@page
@model Hillerød_Sejlklub.Pages.Bookings.EndBookingConfirmationModel
@{
}
<h1>Afslut Booking</h1>

<div class="alert alert-danger">
    <h5>
        Er du sikker på, at du vil afslutte booking #@Model.Booking.Id
        for båden @Model.Booking.Boat.BoatName?
    </h5>

    <form method="post">
        <button type="submit" class="btn btn-danger">Ja, afslut booking</button>
        <a class="btn btn-secondary" asp-page="/Bookings/AllBookings">Nej, tilbage</a>
    </form>
</div>