@page "/Login"
@model Hillerød_Sejlklub.Pages.LoginRegister.LoginModel
@{
}
<div class="container-fluid bg-dark text-light p-5">
	<h1 class="display-4">Log in!</h1>
	<hr class="my-4">
	<p>Indtast dine informationer for at logge ind</p>
	<partial name="_LoginForm"/>
</div>