@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="background"></div>

<div class="landing-wrapper">
    <div class="landing-box text-center">
        <h1 class="display-4">Velkommen til Hillerød Sejlklub</h1>
        <p>Her finder du en oversigt over klubbens medlemmer og både. Det er desuden muligt for medlemmer af klubben at booke både gennem dropdownmenuen i toppen af siden.</p>

        <h1>HUSK!!!!</h1>
        <p>Angiv en destination så vi ved hvilken retning i sejler hen. Det er for jeres egen skyld.</p>
    </div>
</div>

<div id="windy"></div>
<script src="~/js/script.js"></script>
