@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="background"></div>

<div class="landing-wrapper">
    <div class="landing-box text-center">
        <h1 class="display-4">Velkommen til Hillerød Sejlklub</h1>
        <p>
            Hillerød Sejlklub er en klub for jollesejlere.
            Vi har altid plads til børn og voksne, som vil sejle for deres fornøjelses skyld, for det sociale samvær, og evt. selv medvirke 
            eller støtte andre sejlere i konkurrencesejlads.
        </p>

        <h1>Junior sejlads</h1>
        <p>
            Hver Tirsdag fra klokken 16:30 træner juniorsejlerne

            Der sejles i optimistjoller, Feva og Laserjoller under kyndig ledelse af kompetente instruktører

            Har du lyst til at lære at sejle, så mød op i klubben tirsdage klokken 16:30.
        </p>

        <h1>Senior sejlads</h1>
        <p>
            Hver tirsdag fra klokken 17:00 træner seniorsejlerne.

            Der sejles i klubbens tre Lynæs-14 kølbåde, i klubbens Wayfarer og i klubbens fem Laserjoller.

            Desuden er der private joller med i sejladserne.

            Har du lyst til at lære at sejle, så mød op i klubben tirsdage kokken 17:00

            Vi mixer gamle og nye på bådene fra gang til gang og nye indføres gradvist i regler,

            krav til frigivelse osv..
        </p>
    </div>
</div>

<div id="windy"></div>
<script src="~/js/script.js"></script>
