@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Hvis vi er nået der til hvor i trykker på Privacy, så er det enten gået meget godt, eller virkelig skidt...</p>
